{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shekhar's Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/about.css' %}" />
    </head>
    <body>
        <div class="header">
            <h1>#Shekhar's Blog</h1>
            <h2>"""A blog about programming, gaming and more"""</h2>
        </div>
        <div class="left">
            <ul>
                <li><a href="{% url 'index' %}"><strong>Home</strong></a></li>
                <li><a href="#"><strong id="selectedPage">About</strong></a></li>
                <li><a href="{% url 'archive' %}"><strong>Archive</strong></a></li>
                <li><a href="{% url 'projects' %}"><strong>Projects</strong></a></li>
            </ul>
        </div>
        <div class="right">
        </div>
        <div class="footer">
            <ul>
                <li><a href="https://www.facebook.com/shekhar.patnaik.5"><img src="{% static 'blog/images/facebook.png' %}"/></a></li>
                <li><a href="http://github.com/patnaikshekhar"><img src="{% static 'blog/images/github.png' %}"/></a></li>
                <li><a href="http://www.linkedin.com/in/patnaikshekhar"><img src="{% static 'blog/images/linkedin.png' %}"/></a></li>
            </ul>
        </div>
    </body>
</html>
