{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shekhar's Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/details.css' %}" />
    </head>
    <body>
        <div class="header">
            <h1>#Shekhar's Blog</h1>
            <h2>"""A blog about programming, gaming and more"""</h2>
        </div>
        <div class="left">
            <ul>
                <li><a href="{% url 'index' %}"><strong>Home</strong></a></li>
                <li><a href="{% url 'about' %}"><strong>About</strong></a></li>
                <li><a href="{% url 'archive' %}"><strong>Archive</strong></a></li>
                <li><a href="{% url 'projects' %}"><strong>Projects</strong></a></li>
            </ul>
        </div>
        <div class="right">
            <form method="post" action="{% url 'add_comment' article.id %}">
                {% csrf_token %}
                {% if article %}
                    <div class="article">
                        <h3>{{article.title|safe}}</h3>
                        <h4>{{article.date|date:"D d M Y"}}</h4>
                        <p>{{article.contents|safe}}</p>
                    </div>
                    <h5>Comments</h5>
                    <div class="addComment">
                        <p><textarea name="comment" placeholder="Comment on the post"></textarea></p>
                        <p><input type="text" name="name" placeholder="Your name"/></p>
                        <input type="submit" value="Comment"/><br/><br/>
                    </div>
                    {% for comment in comments %}
                        <div class="commentBlock">
                            <p class="comment">{{ comment.comment }}</p>
                            <p class="commentBy">on {{ comment.date|date:"D d M Y" }} by {{ comment.name }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="footer">
            <ul>
                <li><a href="https://www.facebook.com/shekhar.patnaik.5"><img src="{% static 'blog/images/facebook.png' %}"/></a></li>
                <li><a href="http://github.com/patnaikshekhar"><img src="{% static 'blog/images/github.png' %}"/></a></li>
                <li><a href="http://www.linkedin.com/in/patnaikshekhar"><img src="{% static 'blog/images/linkedin.png' %}"/></a></li>
            </ul>
        </div>
    </body>
</html>
