{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Shekhar's Blog</title>
        <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'blog/projects.css' %}" />
    </head>
    <body>
        <div class="header">
            <h1>#Shekhar's Blog</h1>
            <h2>"""A blog about programming, gaming and more"""</h2>
        </div>
        <div class="left">
            <ul>
                <li><a href="{% url 'index' %}"><strong>Home</strong></a></li>
                <li><a href="{% url 'about' %}"><strong>About</strong></a></li>
                <li><a href="{% url 'archive' %}"><strong>Archive</strong></a></li>
                <li><a href="#"><strong id="selectedPage">Projects</strong></a></li>
            </ul>
        </div>
        <div class="right">
            <h1>Projects</h1>
            <p>These are some of the projects i've been working on.</p>
            {% for project in projects %}
                <br/><hr/>
                <div class="project">
                    <h2>{{ project.name }}</h2>
                    <h6>Started on {{ project.start_date }} and is currently {{ project.status }}</h6>
                    <p>{{ project.description }}</p>
                    <h5>Git Hub : <a href="{{ project.git_hub_link }}">{{ project.git_hub_link }}</a></p>
                </div>
            {% endfor %}
        </div>
        <div class="footer">
            <ul>
                <li><a href="https://www.facebook.com/shekhar.patnaik.5"><img src="{% static 'blog/images/facebook.png' %}"/></a></li>
                <li><a href="http://github.com/patnaikshekhar"><img src="{% static 'blog/images/github.png' %}"/></a></li>
                <li><a href="http://www.linkedin.com/in/patnaikshekhar"><img src="{% static 'blog/images/linkedin.png' %}"/></a></li>
            </ul>
        </div>
    </body>
</html>
